@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    /* "Obsidian" Background - Solid, Premium, Dark */
    @apply bg-[#050505] text-zinc-300 antialiased;
  }
  
  /* Optional: Add a very subtle noise texture if you want more depth, 
     otherwise keep it solid for "Flat" look */
}

/* Luxury Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* Zinc-800 */
  border-radius: 0px;   /* Sharp corners for "Royal" feel */
}
::-webkit-scrollbar-thumb:hover {
  background: #fbbf24; /* Amber-400 on hover */
}

/* app/globals.css */

/* Hide the floating reCAPTCHA badge */
.grecaptcha-badge { 
  visibility: hidden; 
}